<div style="text-align:right;margin-left:80%">
    <table style="background-color:aqua">
        <tr>
            <th style="background-color:burlywood">
                UPCOMING MOVIES
            </th>
        </tr>
        <tr>
            <td>
                Soorarai Potru
            </td>
        </tr>
        <tr>
            <td>
                Master
            </td>
        </tr>
        <tr>
            <td>
                Doctor
            </td>
        </tr>
        <tr>
            <td>
                Mafia
            </td>
        </tr>
    </table>
</div>
